# 01 - Coleta e Limpeza

Os primeiros dados coletados serão as Coberturas Vacinais por Unidade da Federação e Ano.

## Coberturas Vacinais por Unidade da Federação e Ano

Nesse dataset teremos o percentual da Corbetura Vainal, onde em cada linha teremos uma Unidade da Federação e em cada coluna o ano.

In [1]:
import pandas as pd

In [2]:
cv_por_uf_ano = pd.read_csv("../dados/A100607189_28_143_208.csv",
            encoding="ISO-8859-1",
            skiprows=3, sep=";", skipfooter=20,
            thousands=".", decimal=",", engine="python")
cv_por_uf_ano

,Unidade da Federação,1994,1995,1996,1997,1998,1999,2000,2001,2002,...,2011,2012,2013,2014,2015,2016,2017,2018,2019,Total
0,11 Rondônia,42.76,50.80,76.05,83.33,93.26,82.31,79.59,83.70,78.18,...,92.75,85.82,76.72,98.18,111.27,63.77,80.74,82.45,51.44,79.88
1,12 Acre,20.53,46.61,36.59,67.56,66.38,85.61,66.79,76.77,81.66,...,84.74,74.35,58.87,59.29,75.54,46.91,62.18,67.44,45.44,69.26
2,13 Amazonas,20.15,35.82,49.88,72.01,70.62,72.19,70.91,70.68,70.98,...,80.09,79.18,67.06,77.14,94.95,48.27,65.33,69.82,49.97,69.65
3,14 Roraima,64.06,88.84,89.18,80.26,97.45,93.76,83.94,72.67,78.33,...,84.42,73.13,60.70,82.30,105.27,57.41,74.26,78.76,48.04,75.68
4,15 Pará,32.44,40.11,51.26,67.09,67.46,82.95,77.23,83.43,82.66,...,84.11,77.87,67.91,71.71,67.51,41.43,57.60,57.44,37.53,73.89
5,16 Amapá,NaN,34.68,44.75,52.06,73.77,83.48,70.61,101.50,75.61,...,77.88,73.77,67.66,76.11,88.75,56.62,58.66,63.32,44.02,72.88
6,17 Tocantins,NaN,NaN,65.44,56.24,86.73,87.82,80.63,87.42,80.88,...,87.78,76.34,72.78,85.09,92.37,60.94,81.70,82.32,57.59,78.47
7,21 Maranhão,27.43,35.69,41.05,60.33,68.09,81.10,74.81,79.09,76.93,...,87.15,77.67,73.54,83.27,94.40,43.38,60.87,64.51,40.05,73.91
8,22 Piauí,62.22,48.16,46.40,57.65,64.59,81.53,78.74,81.18,79.67,...,86.04,77.57,71.99,76.06,80.68,46.94,67.25,70.80,44.88,73.15
9,23 Ceará,49.20,50.06,60.28,74.00,64.09,88.63,78.82,83.18,78.97,...,83.44,74.76,73.09,96.57,107.71,56.44,73.67,77.37,47.53,75.75
10,24 Rio Grande do Norte,41.34,49.23,56.57,61.55,58.99,78.80,70.21,73.12,73.20,...,81.30,74.96,66.86,82.44,89.17,42.23,53.69,67.54,38.10,68.77
11,25 Paraíba,NaN,22.82,45.23,63.28,61.39,81.68,72.88,80.28,76.52,...,82.82,70.88,71.43,83.53,86.34,50.10,66.15,69.43,43.87,72.02
12,26 Pernambuco,33.46,78.01,72.86,82.44,81.41,87.47,76.93,76.73,77.76,...,88.72,78.44,71.80,86.44,101.09,51.43,65.20,70.43,44.91,75.12
13,27 Alagoas,NaN,28.35,46.58,50.95,54.52,78.30,72.36,74.45,76.03,...,73.81,70.45,67.30,84.08,92.74,44.88,65.01,70.79,44.26,70.26
14,28 Sergipe,NaN,67.66,67.28,73.92,71.66,98.68,77.96,79.01,78.28,...,83.94,74.33,74.76,86.11,91.00,47.05,63.49,68.76,46.21,74.36
15,29 Bahia,42.98,28.19,38.02,59.22,64.03,82.45,74.08,81.56,76.22,...,84.73,77.33,72.29,83.78,93.06,44.35,63.11,63.50,38.68,72.39
16,31 Minas Gerais,NaN,NaN,NaN,62.60,62.43,90.14,79.70,90.28,75.07,...,87.40,82.73,80.04,90.21,100.33,57.58,80.42,85.42,53.43,78.03
17,32 Espírito Santo,55.22,74.91,75.62,77.78,89.21,94.67,79.36,80.75,78.05,...,88.35,79.71,72.30,90.98,98.39,51.19,66.35,74.22,48.72,76.09
18,33 Rio de Janeiro,NaN,43.29,36.26,69.12,73.78,91.77,75.16,75.02,74.66,...,83.91,73.71,68.11,84.08,96.14,47.98,67.04,61.37,25.99,69.70
19,35 São Paulo,NaN,45.01,44.86,74.70,79.73,92.11,76.19,76.51,73.30,...,84.96,77.28,73.37,88.20,98.63,45.94,67.29,71.52,46.18,71.68
20,41 Paraná,NaN,35.30,51.84,76.53,63.40,75.09,78.72,81.01,77.26,...,89.97,79.48,77.59,86.95,96.41,55.32,77.66,81.79,58.11,75.08
21,42 Santa Catarina,51.60,55.47,48.53,73.29,71.64,82.85,75.49,78.11,74.59,...,88.07,78.79,72.94,91.81,100.69,58.88,75.82,82.43,60.59,74.53
22,43 Rio Grande do Sul,NaN,65.25,58.90,65.07,63.25,85.90,71.91,75.60,74.07,...,81.99,72.95,73.47,84.15,87.69,53.86,72.54,74.94,51.65,70.96
23,50 Mato Grosso do Sul,NaN,NaN,39.02,70.62,75.01,92.05,85.08,88.66,80.84,...,89.37,83.46,81.81,110.11,113.07,63.55,78.81,83.52,52.21,79.69
24,51 Mato Grosso,31.76,37.67,37.44,74.22,78.08,84.87,84.34,85.97,81.93,...,87.40,81.37,75.04,92.61,100.32,58.32,74.28,76.70,46.38,76.12
25,52 Goiás,22.37,69.81,66.93,70.07,73.23,87.36,82.76,83.87,82.66,...,96.24,82.52,79.36,86.63,93.55,53.60,73.25,71.85,47.04,77.66
26,53 Distrito Federal,NaN,0.34,55.99,64.17,84.43,86.24,73.49,71.77,69.15,...,67.70,64.84,85.83,89.33,71.55,75.28,73.82,73.85,49.58,74.74

Agora que já temos os dados inseridos vamos eliminar os valores ausentes.

In [3]:
cv_por_uf_ano.isna().sum()

Unidade da Federação     0
1994                    12
1995                     3
1996                     1
1997                     0
1998                     0
1999                     0
2000                     0
2001                     0
2002                     0
2003                     0
2004                     0
2005                     0
2006                     0
2007                     0
2008                     0
2009                     0
2010                     0
2011                     0
2012                     0
2013                     0
2014                     0
2015                     0
2016                     0
2017                     0
2018                     0
2019                     0
Total                    0
dtype: int64

Temos valores ausentes apenas nos primeiros anos (1994, 1995 e 1996), vamos eliminar essas colunas.

In [4]:
cv_por_uf_ano = cv_por_uf_ano.dropna(axis="columns")
cv_por_uf_ano.head()

,Unidade da Federação,1997,1998,1999,2000,2001,2002,2003,2004,2005,...,2011,2012,2013,2014,2015,2016,2017,2018,2019,Total
0,11 Rondônia,83.33,93.26,82.31,79.59,83.70,78.18,72.30,81.87,80.75,...,92.75,85.82,76.72,98.18,111.27,63.77,80.74,82.45,51.44,79.88
1,12 Acre,67.56,66.38,85.61,66.79,76.77,81.66,77.54,80.21,72.09,...,84.74,74.35,58.87,59.29,75.54,46.91,62.18,67.44,45.44,69.26
2,13 Amazonas,72.01,70.62,72.19,70.91,70.68,70.98,64.77,72.14,73.67,...,80.09,79.18,67.06,77.14,94.95,48.27,65.33,69.82,49.97,69.65
3,14 Roraima,80.26,97.45,93.76,83.94,72.67,78.33,72.99,80.28,78.26,...,84.42,73.13,60.70,82.30,105.27,57.41,74.26,78.76,48.04,75.68
4,15 Pará,67.09,67.46,82.95,77.23,83.43,82.66,80.50,97.38,89.17,...,84.11,77.87,67.91,71.71,67.51,41.43,57.60,57.44,37.53,73.89

In [5]:
cv_por_uf_ano.isna().sum().sum()

0

Além disso também vamos remover a coluna Total.

In [6]:
cv_por_uf_ano = cv_por_uf_ano.drop("Total", axis="columns")
cv_por_uf_ano.head()

,Unidade da Federação,1997,1998,1999,2000,2001,2002,2003,2004,2005,...,2010,2011,2012,2013,2014,2015,2016,2017,2018,2019
0,11 Rondônia,83.33,93.26,82.31,79.59,83.70,78.18,72.30,81.87,80.75,...,79.26,92.75,85.82,76.72,98.18,111.27,63.77,80.74,82.45,51.44
1,12 Acre,67.56,66.38,85.61,66.79,76.77,81.66,77.54,80.21,72.09,...,76.32,84.74,74.35,58.87,59.29,75.54,46.91,62.18,67.44,45.44
2,13 Amazonas,72.01,70.62,72.19,70.91,70.68,70.98,64.77,72.14,73.67,...,73.30,80.09,79.18,67.06,77.14,94.95,48.27,65.33,69.82,49.97
3,14 Roraima,80.26,97.45,93.76,83.94,72.67,78.33,72.99,80.28,78.26,...,75.19,84.42,73.13,60.70,82.30,105.27,57.41,74.26,78.76,48.04
4,15 Pará,67.09,67.46,82.95,77.23,83.43,82.66,80.50,97.38,89.17,...,81.55,84.11,77.87,67.91,71.71,67.51,41.43,57.60,57.44,37.53

Agora vamos salvar o arquivo para utilizarmos mais tarde.

In [7]:
cv_por_uf_ano.to_csv("../dados/dados limpos/cv_por_uf_ano.csv", index=False)

## Doses Cáculos CV por Ano segundo Unidade da Federação

In [8]:
doses_por_uf_ano = pd.read_csv("../dados/A105755189_28_143_208.csv",
            encoding="ISO-8859-1",
            skiprows=3, sep=";", skipfooter=20,
            thousands=".", decimal=",", engine="python")
doses_por_uf_ano

,Unidade da Federação,1994,1995,1996,1997,1998,1999,2000,2001,2002,...,2011,2012,2013,2014,2015,2016,2017,2018,2019,Total
0,11 Rondônia,150744,169930,260583,221136,254228,511993,595405,634672,603409,...,435345,427785,487788,664623,692060,619782,580329,554429,344707,13579585
1,12 Acre,22658,57518,45907,78576,79331,240690,245193,281863,309201,...,257132,240469,240916,254867,294119,259444,265563,266548,183891,6538933
2,13 Amazonas,127265,236612,279674,427850,430178,1013496,1198384,1327220,1360736,...,1090240,1149204,1173912,1546920,1721877,1404249,1412102,1435823,996366,31196446
3,14 Roraima,38382,56559,58502,51558,64159,139177,187080,162704,171102,...,146403,134478,137917,223255,261569,223781,223177,237162,146819,4334259
4,15 Pará,440625,552664,722825,890749,914640,2585184,2886309,3182573,3209151,...,2159285,2120596,2217128,2577588,2121121,1986047,2067185,1994916,1299432,64447319
5,16 Amapá,-,32559,43911,54202,80449,205472,232258,342676,256112,...,200416,201291,235158,291264,317476,309878,240586,241570,165800,6025103
6,17 Tocantins,-,-,162309,132414,209755,500080,557200,591184,557207,...,393544,364498,419059,520696,500465,473930,496697,469306,337453,11640134
7,21 Maranhão,395000,482285,567243,700146,802799,2231202,2453795,2754985,2714036,...,1938353,1834049,2049197,2506954,2470155,1768910,1804725,1808791,1123803,56584379
8,22 Piauí,327096,288726,284130,308842,348572,1045207,1208893,1260538,1247873,...,790815,767241,830563,929808,843986,766717,794144,813143,520133,24205309
9,23 Ceará,708696,731122,894330,1092139,958365,3180674,3403095,3464853,3335843,...,1973183,1875068,2162076,3097412,3090798,2772563,2527779,2596746,1559778,67305775
10,24 Rio Grande do Norte,192475,257873,303590,308454,299258,983207,1048720,1074655,1068538,...,715550,700617,739553,976055,955413,715152,651844,773048,427102,21737039
11,25 Paraíba,-,160631,323476,399938,390460,1294082,1381868,1463207,1404985,...,894610,815971,963126,1185760,1091866,933768,946139,974210,608801,27688567
12,26 Pernambuco,527256,1191428,1130697,1127214,1121468,2953463,3297620,3308789,3296188,...,2264640,2122509,2334099,3098012,3270650,2643965,2454143,2410864,1536040,69511165
13,27 Alagoas,-,178302,299818,304852,329757,1086283,1196604,1247844,1287595,...,736926,747338,840673,1124168,1114133,871125,905807,926598,584861,24915175
14,28 Sergipe,-,237617,242572,250807,247439,812313,796246,804610,774545,...,530191,503959,600576,733179,714208,550085,562373,574293,375131,16167894
15,29 Bahia,994130,722003,994587,1358301,1484387,4745022,5131168,5641897,5316305,...,3319588,3222132,3568011,4552090,4326712,3231420,3317966,3165767,1933369,104332948
16,31 Minas Gerais,-,-,-,1796982,1813559,6477184,6961244,7888036,6637190,...,4334695,3998586,4784266,5908170,5849587,5192087,5320343,5380265,3396051,133030903
17,32 Espírito Santo,256603,397685,411887,378316,440462,1141437,1214667,1233262,1176631,...,818355,783980,882253,1221179,1220295,1018857,980208,1042704,697564,25874717
18,33 Rio de Janeiro,-,906575,779704,1409487,1519764,4872715,5385808,5263389,5118198,...,3271147,3034612,3452853,4792974,4947569,4269415,4170602,3678944,1506798,102583485
19,35 São Paulo,-,2694310,2685627,4052597,4325523,12673295,13842017,13526097,12763696,...,9151228,8821199,10297960,13755784,13859265,10615615,11187566,11407247,7249108,277238149
20,41 Paraná,-,610367,904583,1258159,1056241,3018261,3750742,3771473,3547068,...,2415754,2330836,2728430,3393790,3425656,2978313,3121299,3143311,2226662,74590280
21,42 Santa Catarina,437164,529270,476830,616029,618793,1734001,1908182,1929301,1808394,...,1322747,1277068,1467668,2047870,2066422,1789983,1742437,1933449,1436410,41606715
22,43 Rio Grande do Sul,-,1096689,1011888,990645,972207,3397620,3539671,3605219,3443527,...,1972214,1861452,2326594,2980144,2808159,2601252,2633986,2675382,1829584,67951747
23,50 Mato Grosso do Sul,-,-,160964,261788,282453,827388,896172,937187,856199,...,647692,639969,792827,1186794,1097563,937525,888047,900946,569408,19569152
24,51 Mato Grosso,174627,196972,201338,334670,358484,907069,1091090,1089117,1056545,...,762483,754284,882673,1204418,1218562,1117107,1074008,1053524,657632,23814777
25,52 Goiás,209872,590541,574266,591826,634802,1805937,2040674,2069557,2055137,...,1515006,1375687,1637161,2068419,2012864,1808414,1852394,1764350,1139751,44441261
26,53 Distrito Federal,-,1297,219000,258032,289995,796601,820415,798164,760178,...,582929,615304,858143,1000131,732494,1331740,910783,887622,609503,19195368

Agora que já temos os dados inseridos vamos eliminar os valores ausentes.
<br>Nesse caso vamos precisar substituir os "-" pelo NaN do Numpy.

In [9]:
import numpy as np

In [10]:
doses_por_uf_ano.replace("-", np.nan, inplace=True)
doses_por_uf_ano

,Unidade da Federação,1994,1995,1996,1997,1998,1999,2000,2001,2002,...,2011,2012,2013,2014,2015,2016,2017,2018,2019,Total
0,11 Rondônia,150744,169930,260583,221136,254228,511993,595405,634672,603409,...,435345,427785,487788,664623,692060,619782,580329,554429,344707,13579585
1,12 Acre,22658,57518,45907,78576,79331,240690,245193,281863,309201,...,257132,240469,240916,254867,294119,259444,265563,266548,183891,6538933
2,13 Amazonas,127265,236612,279674,427850,430178,1013496,1198384,1327220,1360736,...,1090240,1149204,1173912,1546920,1721877,1404249,1412102,1435823,996366,31196446
3,14 Roraima,38382,56559,58502,51558,64159,139177,187080,162704,171102,...,146403,134478,137917,223255,261569,223781,223177,237162,146819,4334259
4,15 Pará,440625,552664,722825,890749,914640,2585184,2886309,3182573,3209151,...,2159285,2120596,2217128,2577588,2121121,1986047,2067185,1994916,1299432,64447319
5,16 Amapá,NaN,32559,43911,54202,80449,205472,232258,342676,256112,...,200416,201291,235158,291264,317476,309878,240586,241570,165800,6025103
6,17 Tocantins,NaN,NaN,162309,132414,209755,500080,557200,591184,557207,...,393544,364498,419059,520696,500465,473930,496697,469306,337453,11640134
7,21 Maranhão,395000,482285,567243,700146,802799,2231202,2453795,2754985,2714036,...,1938353,1834049,2049197,2506954,2470155,1768910,1804725,1808791,1123803,56584379
8,22 Piauí,327096,288726,284130,308842,348572,1045207,1208893,1260538,1247873,...,790815,767241,830563,929808,843986,766717,794144,813143,520133,24205309
9,23 Ceará,708696,731122,894330,1092139,958365,3180674,3403095,3464853,3335843,...,1973183,1875068,2162076,3097412,3090798,2772563,2527779,2596746,1559778,67305775
10,24 Rio Grande do Norte,192475,257873,303590,308454,299258,983207,1048720,1074655,1068538,...,715550,700617,739553,976055,955413,715152,651844,773048,427102,21737039
11,25 Paraíba,NaN,160631,323476,399938,390460,1294082,1381868,1463207,1404985,...,894610,815971,963126,1185760,1091866,933768,946139,974210,608801,27688567
12,26 Pernambuco,527256,1191428,1130697,1127214,1121468,2953463,3297620,3308789,3296188,...,2264640,2122509,2334099,3098012,3270650,2643965,2454143,2410864,1536040,69511165
13,27 Alagoas,NaN,178302,299818,304852,329757,1086283,1196604,1247844,1287595,...,736926,747338,840673,1124168,1114133,871125,905807,926598,584861,24915175
14,28 Sergipe,NaN,237617,242572,250807,247439,812313,796246,804610,774545,...,530191,503959,600576,733179,714208,550085,562373,574293,375131,16167894
15,29 Bahia,994130,722003,994587,1358301,1484387,4745022,5131168,5641897,5316305,...,3319588,3222132,3568011,4552090,4326712,3231420,3317966,3165767,1933369,104332948
16,31 Minas Gerais,NaN,NaN,NaN,1796982,1813559,6477184,6961244,7888036,6637190,...,4334695,3998586,4784266,5908170,5849587,5192087,5320343,5380265,3396051,133030903
17,32 Espírito Santo,256603,397685,411887,378316,440462,1141437,1214667,1233262,1176631,...,818355,783980,882253,1221179,1220295,1018857,980208,1042704,697564,25874717
18,33 Rio de Janeiro,NaN,906575,779704,1409487,1519764,4872715,5385808,5263389,5118198,...,3271147,3034612,3452853,4792974,4947569,4269415,4170602,3678944,1506798,102583485
19,35 São Paulo,NaN,2694310,2685627,4052597,4325523,12673295,13842017,13526097,12763696,...,9151228,8821199,10297960,13755784,13859265,10615615,11187566,11407247,7249108,277238149
20,41 Paraná,NaN,610367,904583,1258159,1056241,3018261,3750742,3771473,3547068,...,2415754,2330836,2728430,3393790,3425656,2978313,3121299,3143311,2226662,74590280
21,42 Santa Catarina,437164,529270,476830,616029,618793,1734001,1908182,1929301,1808394,...,1322747,1277068,1467668,2047870,2066422,1789983,1742437,1933449,1436410,41606715
22,43 Rio Grande do Sul,NaN,1096689,1011888,990645,972207,3397620,3539671,3605219,3443527,...,1972214,1861452,2326594,2980144,2808159,2601252,2633986,2675382,1829584,67951747
23,50 Mato Grosso do Sul,NaN,NaN,160964,261788,282453,827388,896172,937187,856199,...,647692,639969,792827,1186794,1097563,937525,888047,900946,569408,19569152
24,51 Mato Grosso,174627,196972,201338,334670,358484,907069,1091090,1089117,1056545,...,762483,754284,882673,1204418,1218562,1117107,1074008,1053524,657632,23814777
25,52 Goiás,209872,590541,574266,591826,634802,1805937,2040674,2069557,2055137,...,1515006,1375687,1637161,2068419,2012864,1808414,1852394,1764350,1139751,44441261
26,53 Distrito Federal,NaN,1297,219000,258032,289995,796601,820415,798164,760178,...,582929,615304,858143,1000131,732494,1331740,910783,887622,609503,19195368

In [11]:
doses_por_uf_ano.isna().sum()

Unidade da Federação     0
1994                    12
1995                     3
1996                     1
1997                     0
1998                     0
1999                     0
2000                     0
2001                     0
2002                     0
2003                     0
2004                     0
2005                     0
2006                     0
2007                     0
2008                     0
2009                     0
2010                     0
2011                     0
2012                     0
2013                     0
2014                     0
2015                     0
2016                     0
2017                     0
2018                     0
2019                     0
Total                    0
dtype: int64

Temos valores ausentes apenas nos primeiros anos (1994, 1995 e 1996), vamos eliminar essas colunas.

In [12]:
doses_por_uf_ano = doses_por_uf_ano.dropna(axis="columns")
doses_por_uf_ano.head()

,Unidade da Federação,1997,1998,1999,2000,2001,2002,2003,2004,2005,...,2011,2012,2013,2014,2015,2016,2017,2018,2019,Total
0,11 Rondônia,221136,254228,511993,595405,634672,603409,567875,732052,698279,...,435345,427785,487788,664623,692060,619782,580329,554429,344707,13579585
1,12 Acre,78576,79331,240690,245193,281863,309201,300787,378766,353552,...,257132,240469,240916,254867,294119,259444,265563,266548,183891,6538933
2,13 Amazonas,427850,430178,1013496,1198384,1327220,1360736,1270370,1581187,1613814,...,1090240,1149204,1173912,1546920,1721877,1404249,1412102,1435823,996366,31196446
3,14 Roraima,51558,64159,139177,187080,162704,171102,168107,220949,210400,...,146403,134478,137917,223255,261569,223781,223177,237162,146819,4334259
4,15 Pará,890749,914640,2585184,2886309,3182573,3209151,3183958,4313926,3928530,...,2159285,2120596,2217128,2577588,2121121,1986047,2067185,1994916,1299432,64447319

In [13]:
doses_por_uf_ano.isna().sum().sum()

0

Além disso também vamos remover a coluna Total.

In [14]:
doses_por_uf_ano = doses_por_uf_ano.drop("Total", axis="columns")
doses_por_uf_ano.head()

,Unidade da Federação,1997,1998,1999,2000,2001,2002,2003,2004,2005,...,2010,2011,2012,2013,2014,2015,2016,2017,2018,2019
0,11 Rondônia,221136,254228,511993,595405,634672,603409,567875,732052,698279,...,647582,435345,427785,487788,664623,692060,619782,580329,554429,344707
1,12 Acre,78576,79331,240690,245193,281863,309201,300787,378766,353552,...,375827,257132,240469,240916,254867,294119,259444,265563,266548,183891
2,13 Amazonas,427850,430178,1013496,1198384,1327220,1360736,1270370,1581187,1613814,...,1658753,1090240,1149204,1173912,1546920,1721877,1404249,1412102,1435823,996366
3,14 Roraima,51558,64159,139177,187080,162704,171102,168107,220949,210400,...,216961,146403,134478,137917,223255,261569,223781,223177,237162,146819
4,15 Pará,890749,914640,2585184,2886309,3182573,3209151,3183958,4313926,3928530,...,3535221,2159285,2120596,2217128,2577588,2121121,1986047,2067185,1994916,1299432

Agora vamos salvar o arquivo para utilizarmos mais tarde.

In [15]:
doses_por_uf_ano.to_csv("../dados/dados limpos/doses_por_uf_ano.csv", index=False)

## População

Vamos pegar os dados de população por estado disponíveis no [Wikipédia](https://pt.wikipedia.org/wiki/Lista_de_unidades_federativas_do_Brasil_por_popula%C3%A7%C3%A3o)

In [16]:
populacao = pd.read_html('https://pt.wikipedia.org/wiki/Lista_de_unidades_federativas_do_Brasil_por_popula%C3%A7%C3%A3o')
populacao = populacao[0]
populacao = populacao.drop(["Posição", "% da pop. total", "País comparável (habitantes)"], axis="columns")
populacao = populacao.rename({"Unidade federativa":"Unidade da Federação"}, axis="columns")
populacao = populacao.set_index("Unidade da Federação")
populacao["População"] = populacao["População"].str.replace(" ", "").astype("int")
populacao.head()

                      População
Unidade da Federação
São Paulo              46289333
Minas Gerais           21292666
Rio de Janeiro         17366189
Bahia                  14930634
Paraná                 11516840

In [17]:
populacao.to_csv("../dados/dados limpos/populacao.csv")

## Imuno, Cobertura Vacinal e Doses

Nesse dataset teremos em cada linha o Imuno com uma coluna para a Cobertura Vacinal e outra para o Doses Cáculos CV.

In [18]:
imuno_cv_doses = pd.read_csv("../dados/A230802189_28_143_208.csv",
            encoding="ISO-8859-1",
            skiprows=3, sep=";", skipfooter=20,
            thousands=".", decimal=",", engine="python")
imuno_cv_doses

,Imuno,Coberturas_Vacinais,Doses_Cáculos_CV
0,072 BCG,105.82,81684240
1,099 Hepatite B em crianças até 30 dias,68.79,14067937
2,061 Rotavírus Humano,58.57,33391981
3,053 Meningococo C,61.23,24391126
4,073 Hepatite B,78.46,60563803
5,080 Penta,77.80,18150707
6,012 Pneumocócica,81.04,23575129
7,074 Poliomielite,94.18,72702010
8,100 Poliomielite 4 anos,0.43,13849
9,006 Febre Amarela,37.72,28967446
10,096 Hepatite A,63.73,13033884
11,091 Pneumocócica(1º ref),80.51,16461738
12,092 Meningococo C (1º ref),82.82,16934519
13,093 Poliomielite(1º ref),76.27,15595236
14,021 Tríplice Viral D1,102.30,61351515
15,098 Tríplice Viral D2,74.23,15180261
16,097 Tetra Viral(SRC+VZ),53.27,10894106
17,075 DTP,85.86,66279719
18,102 DTP REF (4 e 6 anos),3.31,900636
19,103 Dupla Adulto (dt),NaN,15993679
20,095 Tríplice Bacteriana(DTP)(1º ref),72.52,14830062
21,018 Sarampo,85.97,26135326
22,009 Haemophilus influenzae b,26.00,7480155
23,094 Dupla adulto e tríplice acelular gestante,40.48,8250384
24,003 dTpa gestante,33.97,6922916

In [19]:
imuno_cv_doses.isna().sum()

Imuno                  0
Coberturas_Vacinais    1
Doses_Cáculos_CV       0
dtype: int64

A linha relativa a vacina "103 Dupla Adulto (dt)" infelizmente está sem os dados da cobertura vacinal. Vamos desconsiderá-lo do nosso estudo.

In [20]:
imuno_cv_doses.isna().sum()

Imuno                  0
Coberturas_Vacinais    1
Doses_Cáculos_CV       0
dtype: int64

In [21]:
imuno_cv_doses = imuno_cv_doses.dropna()

In [22]:
imuno_cv_doses.isna().sum()

Imuno                  0
Coberturas_Vacinais    0
Doses_Cáculos_CV       0
dtype: int64

Agora vamos salvar o arquivo para utilizarmos mais tarde.

In [23]:
imuno_cv_doses.to_csv("../dados/dados limpos/imuno_cv_doses.csv", index=False)

## Casos Tuberculose

Nesse dataset teremos em cada linha o estado, e cada coluna representa um mês e ano.

In [24]:
tuberculose = pd.read_csv("../dados/A234202189_28_143_208.csv",
            encoding="ISO-8859-1",
            skiprows=4, sep=";", skipfooter=12,
            thousands=".", decimal=",", engine="python")
tuberculose = tuberculose.set_index("Unidade da Federação")
tuberculose

,2007/Jun,2007/Jul,2007/Ago,2007/Set,2007/Out,2007/Nov,2007/Dez,2008/Jan,2008/Fev,2008/Mar,...,2020/Ago,2020/Set,2020/Out,2020/Nov,2020/Dez,2021/Jan,2021/Fev,2021/Mar,2021/Abr,Total
Unidade da Federação,,,,,,,,,,,,,,,,,,,,,
11 Rondônia,-,-,-,-,-,-,1,2,1,-,...,9,8,7,8,9,14,5,6,4,1782
12 Acre,-,-,-,-,-,2,3,13,7,8,...,-,1,7,6,4,4,1,1,4,884
13 Amazonas,-,1,2,2,6,8,11,12,6,10,...,12,10,5,9,14,3,7,8,9,2979
14 Roraima,-,-,-,-,-,-,-,-,4,1,...,8,9,8,13,10,9,9,10,3,781
15 Pará,-,-,-,1,1,2,15,29,24,19,...,40,33,24,28,27,25,28,18,6,4805
16 Amapá,1,1,2,1,2,3,1,7,6,2,...,-,-,-,3,1,-,2,-,1,539
17 Tocantins,-,-,-,-,1,4,2,10,7,2,...,4,5,6,6,3,2,2,-,-,876
21 Maranhão,-,-,2,1,4,13,6,8,14,13,...,23,27,23,21,27,29,23,17,8,2515
22 Piauí,-,-,-,1,2,12,11,16,13,14,...,1,3,4,5,6,7,6,4,5,1416
23 Ceará,-,-,-,-,-,5,16,31,28,22,...,43,40,53,48,32,28,17,15,9,7657
24 Rio Grande do Norte,-,-,-,7,19,20,17,24,27,23,...,25,39,42,33,32,25,17,5,1,4846
25 Paraíba,-,-,-,-,-,5,-,46,42,60,...,17,21,6,5,31,26,23,18,9,4594
26 Pernambuco,-,-,-,1,10,54,79,100,104,115,...,46,27,35,38,37,50,32,30,8,12762
27 Alagoas,-,-,-,-,-,-,1,11,7,8,...,19,15,19,16,13,12,15,8,8,2866
28 Sergipe,-,-,-,-,-,-,3,-,1,5,...,4,4,4,10,1,2,6,3,1,626
29 Bahia,-,-,1,-,1,6,52,103,63,71,...,79,62,81,64,68,73,70,55,33,14257
31 Minas Gerais,-,-,-,3,9,36,37,65,78,76,...,64,60,79,73,64,60,61,37,10,12507
32 Espírito Santo,-,-,-,-,-,3,7,6,12,9,...,10,9,19,9,24,23,18,15,12,1576
33 Rio de Janeiro,-,-,-,1,2,17,34,116,155,161,...,100,116,113,117,81,131,111,99,40,20526
35 São Paulo,-,-,-,1,12,15,29,436,147,115,...,239,247,254,227,223,250,245,176,103,32996
41 Paraná,1,-,-,-,-,1,8,54,60,66,...,41,32,33,41,33,35,37,12,8,5801
42 Santa Catarina,-,-,-,-,3,3,5,23,14,20,...,36,52,44,30,33,38,32,19,8,5375
43 Rio Grande do Sul,-,-,-,1,12,32,38,88,62,63,...,81,88,93,89,71,106,55,32,16,12438
50 Mato Grosso do Sul,-,-,-,-,3,4,6,18,18,20,...,21,25,26,23,22,24,26,14,11,2660
51 Mato Grosso,-,-,-,-,-,1,1,10,5,4,...,6,10,7,14,6,7,5,6,1,1444
52 Goiás,-,-,-,-,-,2,5,15,4,-,...,9,14,14,14,14,10,8,11,4,2200
53 Distrito Federal,-,-,-,-,-,2,11,8,10,15,...,16,11,19,20,15,15,11,6,4,2340

Vamos remover a coluna Total já que ela pode atraplhar no gráficos.

In [25]:
tuberculose = tuberculose.drop("Total", axis="columns")

Nesse caso, de acordo com a documentação do TABNET, os dados com valores "-" devem ser considerados como 0. Vamos fazer essa substituição.

In [26]:
tuberculose = tuberculose.replace("-", 0)
tuberculose.head()

,2007/Jun,2007/Jul,2007/Ago,2007/Set,2007/Out,2007/Nov,2007/Dez,2008/Jan,2008/Fev,2008/Mar,...,2020/Jul,2020/Ago,2020/Set,2020/Out,2020/Nov,2020/Dez,2021/Jan,2021/Fev,2021/Mar,2021/Abr
Unidade da Federação,,,,,,,,,,,,,,,,,,,,,
11 Rondônia,0,0,0,0,0,0,1,2,1,0,...,13,9,8,7,8,9,14,5,6,4
12 Acre,0,0,0,0,0,2,3,13,7,8,...,4,0,1,7,6,4,4,1,1,4
13 Amazonas,0,1,2,2,6,8,11,12,6,10,...,11,12,10,5,9,14,3,7,8,9
14 Roraima,0,0,0,0,0,0,0,0,4,1,...,17,8,9,8,13,10,9,9,10,3
15 Pará,0,0,0,1,1,2,15,29,24,19,...,29,40,33,24,28,27,25,28,18,6

In [27]:
tuberculose.sum()

2008/Fev     919
2008/Abr     931
2008/Mai     960
2008/Jul    1002
2008/Ago    1052
            ...
2019/Nov    1118
2019/Dez    1156
2020/Nov     970
2020/Dez     901
2021/Fev     872
Length: 109, dtype: int64

Vamos verificar se tem algum dado faltante.

In [28]:
tuberculose.isna().sum().sum()

0

Nesse caso não temos nenhum dado faltante. Vamos colocar as colunas como date para facilitar nossa analise mais tarde.

In [29]:
from datetime import date

meses = {
    "Jan" : 1,
    "Fev" : 2,
    "Mar" : 3,
    "Abr" : 4,
    "Mai" : 5,
    "Jun" : 6,
    "Jul" : 7,
    "Ago" : 8,
    "Set" : 9,
    "Out" : 10,
    "Nov" : 11,
    "Dez" : 12
}

def para_dia (ano_mes: str):
    ano: int = int(ano_mes[:4])
    mes = meses[ano_mes[5:]] 
    return date(ano, mes, 1)

tuberculose.columns = tuberculose.columns.map(para_dia)
tuberculose.head()

,2007-06-01,2007-07-01,2007-08-01,2007-09-01,2007-10-01,2007-11-01,2007-12-01,2008-01-01,2008-02-01,2008-03-01,...,2020-07-01,2020-08-01,2020-09-01,2020-10-01,2020-11-01,2020-12-01,2021-01-01,2021-02-01,2021-03-01,2021-04-01
Unidade da Federação,,,,,,,,,,,,,,,,,,,,,
11 Rondônia,0,0,0,0,0,0,1,2,1,0,...,13,9,8,7,8,9,14,5,6,4
12 Acre,0,0,0,0,0,2,3,13,7,8,...,4,0,1,7,6,4,4,1,1,4
13 Amazonas,0,1,2,2,6,8,11,12,6,10,...,11,12,10,5,9,14,3,7,8,9
14 Roraima,0,0,0,0,0,0,0,0,4,1,...,17,8,9,8,13,10,9,9,10,3
15 Pará,0,0,0,1,1,2,15,29,24,19,...,29,40,33,24,28,27,25,28,18,6

Agora vamos salvar o arquivo para analisarmos posteriormente.

In [30]:
tuberculose.to_csv("../dados/dados limpos/tuberculose.csv", index=True)

## Imuno, Cobertura Vacinal e Doses - Bahia

Nesse dataset teremos em cada linha o Imuno com uma coluna para a Cobertura Vacinal e outra para o Doses Cáculos CV, somente para o estado da Bahia.

In [31]:
imuno_cv_doses_ba = pd.read_csv("../dados/A001649189_28_143_208.csv",
            encoding="ISO-8859-1",
            skiprows=4, sep=";", skipfooter=20,
            thousands=".", decimal=",", engine="python")
imuno_cv_doses_ba

,Imuno,Coberturas_Vacinais,Doses_Cáculos_CV
0,072 BCG,101.74,6244833
1,099 Hepatite B em crianças até 30 dias,61.34,882368
2,061 Rotavírus Humano,50.68,2178291
3,053 Meningococo C,55.34,1701829
4,073 Hepatite B,69.59,4271271
5,080 Penta,68.17,1129073
6,012 Pneumocócica,71.12,1487471
7,074 Poliomielite,86.84,5329901
8,100 Poliomielite 4 anos,0.10,128
9,006 Febre Amarela,65.43,4016078
10,096 Hepatite A,57.83,831921
11,091 Pneumocócica(1º ref),72.84,1047582
12,092 Meningococo C (1º ref),77.15,1109780
13,093 Poliomielite(1º ref),69.47,998796
14,021 Tríplice Viral D1,103.98,4670691
15,098 Tríplice Viral D2,65.76,945957
16,097 Tetra Viral(SRC+VZ),41.28,593866
17,075 DTP,80.10,4915893
18,102 DTP REF (4 e 6 anos),3.64,79656
19,103 Dupla Adulto (dt),NaN,968477
20,095 Tríplice Bacteriana(DTP)(1º ref),70.64,1016137
21,018 Sarampo,77.27,2088917
22,009 Haemophilus influenzae b,22.72,548626
23,094 Dupla adulto e tríplice acelular gestante,36.06,516931
24,003 dTpa gestante,27.96,400721

In [32]:
imuno_cv_doses_ba.isna().sum()

Imuno                  0
Coberturas_Vacinais    1
Doses_Cáculos_CV       0
dtype: int64

A linha relativa a vacina "103 Dupla Adulto (dt)" infelizmente está sem os dados da cobertura vacinal. Vamos desconsiderá-lo do nosso estudo.

In [33]:
imuno_cv_doses_ba.isna().sum()

Imuno                  0
Coberturas_Vacinais    1
Doses_Cáculos_CV       0
dtype: int64

In [34]:
imuno_cv_doses_ba = imuno_cv_doses_ba.dropna()

In [35]:
imuno_cv_doses_ba.isna().sum()

Imuno                  0
Coberturas_Vacinais    0
Doses_Cáculos_CV       0
dtype: int64

Agora vamos salvar o arquivo para utilizarmos mais tarde.

In [36]:
imuno_cv_doses_ba.to_csv("../dados/dados limpos/imuno_cv_doses_ba.csv", index=False)

## Casos Poliomelite

Nesse dataset teremos em cada linha o estado, e cada coluna representa um mês e ano.

In [37]:
polio = pd.read_csv("../dados/A004247189_28_143_208.csv",
            encoding="ISO-8859-1",
            skiprows=4, sep=";", skipfooter=12,
            thousands=".", decimal=",", engine="python")
polio = polio.set_index("Unidade da Federação")
polio

,2007/Out,2007/Nov,2007/Dez,2008/Jan,2008/Fev,2008/Mar,2008/Abr,2008/Mai,2008/Jun,2008/Jul,...,2019/Set,2019/Nov,2019/Dez,2020/Jan,2020/Fev,2020/Mar,2020/Mai,2020/Jun,2020/Ago,Total
Unidade da Federação,,,,,,,,,,,,,,,,,,,,,
11 Rondônia,-,-,-,-,-,-,-,1,-,-,...,-,-,-,-,-,-,-,-,-,6
12 Acre,-,-,-,-,-,-,1,-,-,-,...,-,-,-,-,-,-,-,-,-,3
13 Amazonas,-,-,-,-,2,-,-,-,-,-,...,1,-,-,-,-,-,-,-,-,19
15 Pará,-,-,-,-,-,-,-,-,1,-,...,-,-,-,-,-,-,-,-,-,6
16 Amapá,-,-,-,-,-,-,-,-,-,-,...,-,-,-,-,-,-,-,-,-,2
17 Tocantins,-,-,-,1,-,-,1,-,1,1,...,-,-,-,-,-,-,-,-,-,13
21 Maranhão,-,-,-,-,-,-,-,-,-,-,...,-,-,1,1,-,-,-,-,-,10
22 Piauí,-,-,-,-,-,-,-,-,-,-,...,-,-,-,-,-,-,-,-,1,1
23 Ceará,-,-,-,1,-,1,-,-,1,-,...,-,-,-,-,-,-,-,-,-,5
24 Rio Grande do Norte,-,-,-,-,-,-,-,-,-,-,...,-,-,-,-,-,-,-,-,-,1
25 Paraíba,-,-,-,-,-,-,-,-,-,-,...,-,-,-,-,-,-,-,-,-,5
26 Pernambuco,-,-,-,-,-,-,-,1,-,-,...,-,-,-,1,-,-,-,-,-,8
27 Alagoas,-,-,-,-,-,1,-,-,-,-,...,-,-,-,-,-,-,-,-,-,2
28 Sergipe,-,-,-,1,-,-,-,-,-,-,...,-,-,-,-,-,1,-,-,-,2
29 Bahia,-,-,-,-,2,-,-,-,-,-,...,-,-,-,-,-,-,-,-,1,16
31 Minas Gerais,-,-,-,1,-,-,-,-,-,2,...,-,-,-,-,-,-,1,1,-,31
32 Espírito Santo,-,1,-,-,-,-,-,-,-,-,...,-,-,-,-,-,-,-,-,-,10
33 Rio de Janeiro,1,1,-,1,-,-,2,-,-,-,...,-,-,-,-,-,-,-,-,-,15
35 São Paulo,-,-,-,-,-,-,-,-,1,-,...,-,-,-,-,-,-,-,-,-,11
41 Paraná,-,2,3,1,-,-,-,1,-,-,...,-,-,-,-,-,-,-,-,-,20
42 Santa Catarina,-,1,-,2,2,-,-,-,-,-,...,1,1,1,-,-,-,-,-,-,21
43 Rio Grande do Sul,-,-,-,1,-,-,-,-,-,-,...,-,-,-,-,-,-,-,-,-,6
50 Mato Grosso do Sul,-,-,-,-,-,-,-,-,-,-,...,-,-,-,-,-,-,-,-,-,1
51 Mato Grosso,-,-,2,-,-,-,-,1,-,-,...,-,-,-,-,1,1,-,-,-,5
52 Goiás,-,-,-,-,-,-,-,-,-,-,...,-,-,-,-,-,-,-,-,-,6
53 Distrito Federal,-,-,-,-,-,-,-,-,-,-,...,-,-,-,-,-,-,-,-,-,3

Vamos remover a coluna Total já que ela pode atraplhar no gráficos.

In [38]:
polio = polio.drop("Total", axis="columns")

Nesse caso, de acordo com a documentação do TABNET, os dados com valores "-" devem ser considerados como 0. Vamos fazer essa substituição.

In [39]:
polio = polio.replace("-", 0)
polio.head()

,2007/Out,2007/Nov,2007/Dez,2008/Jan,2008/Fev,2008/Mar,2008/Abr,2008/Mai,2008/Jun,2008/Jul,...,2019/Ago,2019/Set,2019/Nov,2019/Dez,2020/Jan,2020/Fev,2020/Mar,2020/Mai,2020/Jun,2020/Ago
Unidade da Federação,,,,,,,,,,,,,,,,,,,,,
11 Rondônia,0,0,0,0,0,0,0,1,0,0,...,0,0,0,0,0,0,0,0,0,0
12 Acre,0,0,0,0,0,0,1,0,0,0,...,0,0,0,0,0,0,0,0,0,0
13 Amazonas,0,0,0,0,2,0,0,0,0,0,...,0,1,0,0,0,0,0,0,0,0
15 Pará,0,0,0,0,0,0,0,0,1,0,...,0,0,0,0,0,0,0,0,0,0
16 Amapá,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [40]:
polio.sum()

Series([], dtype: float64)

Vamos verificar se tem algum dado faltante.

In [41]:
polio.isna().sum().sum()

0

Nesse caso não temos nenhum dado faltante. Vamos colocar as colunas como date para facilitar nossa analise mais tarde.

In [42]:
polio.columns = polio.columns.map(para_dia)
polio.head()

,2007-10-01,2007-11-01,2007-12-01,2008-01-01,2008-02-01,2008-03-01,2008-04-01,2008-05-01,2008-06-01,2008-07-01,...,2019-08-01,2019-09-01,2019-11-01,2019-12-01,2020-01-01,2020-02-01,2020-03-01,2020-05-01,2020-06-01,2020-08-01
Unidade da Federação,,,,,,,,,,,,,,,,,,,,,
11 Rondônia,0,0,0,0,0,0,0,1,0,0,...,0,0,0,0,0,0,0,0,0,0
12 Acre,0,0,0,0,0,0,1,0,0,0,...,0,0,0,0,0,0,0,0,0,0
13 Amazonas,0,0,0,0,2,0,0,0,0,0,...,0,1,0,0,0,0,0,0,0,0
15 Pará,0,0,0,0,0,0,0,0,1,0,...,0,0,0,0,0,0,0,0,0,0
16 Amapá,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

Agora vamos salvar o arquivo para analisarmos posteriormente.

In [43]:
polio.to_csv("../dados/dados limpos/polio.csv", index=True)

<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>

<div style="text-align:center;">
  <a href="./02 - Análise Exploratória - Cobertura Vacinal.ipynb">Próxima &raquo;</a>
</div>

  
</body>
</html>